#main h1{
  font-size: 1.5rem;
  margin: 10px 0 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

#main h2{
  font-size: 1.25rem;
  margin: 5px 0 10px;
  padding-bottom: 2.5px;
  border-left: 0.5px solid #333;
  border-right: 0.5px solid #333;
}